{% extends "layout.html" %}

{% block body %}

    <!-- Header section
    ================================================== -->
    <section id="header" class="header-four">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <div class="header-thumb">
                        <h1 class="wow fadeIn" data-wow-delay="0.3s">Privacy Policy</h1>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Contact section
    ================================================== -->
    <section id="contact">
        <div class="container">

            <div class="row">

                <div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.2s">
                    <h3>Permission</h3>
                    <p>Our Applications need permissions as below.</p>
                    <p>We will never make use of your information other than for the following purposes.</p>
                    <p><strong>[Camera]</strong></p>
                    <p>Only used to open camera for taking photos.</p>
                    <p><strong>[Storage]</strong></p>
                    <p>Only used to store captured photos on the smartphone or SD card.</p>
                    <p>It's NOT possible to save pictures/files without the storage permission. Not only this app but all
                        camera apps of Android absolutely need the permission. We appreciate your understanding.</p>

                    <h3>All default settings is OFF.</h3></p>
                    <p>We place great importance on your privacy.</p>
                    <p>We will clearly inform you of "usage purpose of permission" and "security strategies" so that all
                        customers can safely use the app with confidence.</p>
                    <p>If you have any questions, please do not hesitate to contact us.</p>
                </div>

            </div>
        </div>
    </section>

{% endblock %}